* {
  margin: 0;
}

.bg-dark {
  background-color: black !important;
}

.btn-spotify {
  border-radius: 99px !important;
  background-color: #1db954 !important;
  font-weight: 800;
  color: white;
}

/*
Player Start
*/

.player_body {
  display: flex;
}

/*
Player End
*/

/*
Sidebar Start
*/

.sidebar_flex {
  flex: 0.2;
}
.sidebar {
  height: 100vh;

  background-color: #040404;
  color: red;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  min-width: 230px;
}

.sidebar_logo {
  object-fit: contain;
  height: 50px;
}

/*
Body Start
*/
.body {
  flex: 0.8;
  height: 100vh;
  padding: 30px;
  color: white;
  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
}

/*
Footer
*/

.footer {
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 100%;
  color: white;
  background-color: #282828;
  padding: 20px;
}
